@media only screen and (min-width: 56em){


.contact-info {
    max-width: 1025px;
    margin: 0 auto;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 65% 35%;
    text-align: left;
}

.contact-information img {
  max-width: 100px;
}

.upcoming {
  max-width: 100%;
}

}





